@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components{
    .base-auth{
        @apply w-[1000px] mx-auto py-4;
    }
    .menu-hover{
        @apply hover:bg-gray-100 transition-all cursor-pointer
    }
    .box-task{
        box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    }
    .box-calen{
        box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    }
   
    .bg-task{
        background-color: #00000036;
        
    }
    .add-section:hover{
        transition: 0.9s all;
        > .section-item {
            
            display: block;
            transition: 2s all;
        }
        
    }
    .task-list{
        
       @apply flex gap-4;
        > div{
            @apply min-w-[260px] max-w-[260px];
        }
    }
    .modal-label:hover{
        .modal-label-item{
            display: block;
        }
    }
    .side-bar{
        position: relative;
        animation: forwards fadeIn 1s cubic-bezier(0.165, 0.84, 0.44, 1);
       
        
    }
    @keyframes fadeIn {
        0%{
            transform: translateX(-280px);
            opacity: 0;
        }
        50%{
            transform: translateX(0px);
            opacity: 1;
        }
        100%{
            transform: translateX(0px);
            opacity: 1;
        }
    }
}